* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(images/951553-mario-backgrounds-1920x1080-mobile.jpg);
  background-size: cover;
  background-color: ivory;
  background-blend-mode: darken;
  color: ivory;
  margin: 0;
}

#notes {
  width: 500px;
  border: 1px solid grey;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.grid {
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cell {
  border: 1px solid grey;
  width: 11.11%;
  height: 11.11%;
}

.lili {
  background-image: url(images/6363877.png);
  background-size: cover;
  background-position: center;
}

.gameboy {
  background-image: url(images/pngwave.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.netflix {
  background-image: url(images/netflix-logo-png-2616.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.cat {
  background-image: url(images/pusheen-png-pusheen-cat-pusheen-unicorn-pusheen-png-260_260.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.drink {
  background-image: url(images/PinClipart.com_martini-clip-art_1338214.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.pc {
  background-image: url(images/kisspng-laptop-computer-icons-computer-monitors-desktop-co-laptop-png-vector-5ab116383990f6.3151876315215550002358.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}