
* {
  box-sizing: border-box;
}

body {
  background-image: url(images/951553-mario-backgrounds-1920x1080-mobile.jpg);
  background-size: cover;
  color: ivory;
}

.gameboard {
  height: 100vh;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

img {
  margin: 40px;
  width: 400px;
}

.winner {
  width: 550px;
}

h1 {
  font-family: 'Bungee Shade';
  font-size: 46px;
  padding: 60px 60px 20px 60px;
}

h2 {
  font-family: 'Covered By Your Grace';
  font-size: 32px;
  padding: 0 90px;
}

.start {
  text-align: center;
  display: block;
  background-image: url(images/princesspeach-1582230864486-6050.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
}

button {
  font-weight: bold;
  color: fuchsia;
  margin: 60px;
  padding: 30px;
  border-radius: 15px;
  display: inline-block;
}

.gamewon {
  text-align: center;
  display: none; 
  margin: 0;
}

.gameover {
  text-align: center;
  display: none; 
  margin: 0;
}

#notes {
  width: 500px;
  border: 1px solid ivory;
  margin: 20px;
  padding: 20px;
  text-align: justify;
  background-color: rgba(47, 101, 167, 0.8);
  font-family: 'Bungee';
}

h3 {
  font-size: 24px;
  margin: 30px
}

p {
  font-size: 18px;
  margin: 30px;
}

.grid {
  border: 1px solid ivory;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(255, 255, 240, 0.5);
}

.cell {
  border: 1px solid;
  width: 11.11%;
  height: 11.11%;
}

.princess {
  background-image: url(images/peach-sprite-png-8-transparent.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

.DK {
  background-image: url(images/donkey-kong-png-gif-20-original.gif);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.mario {
  background-image: url(https://media.giphy.com/media/6RsYcS66Iso0/source.gif);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.mushroom {
  background-image: url(https://media.giphy.com/media/5w2c0FdHN6XhFQmVS7/source.gif);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.finn {
  background-image: url(https://media.giphy.com/media/Qoi8ET81xWbG8/source.gif);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  background-image: url(images/iconfinder_Castle_2913096.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.success {
  background-image: url(images/kisspng-thumb-signal-computer-icons-clip-art-thumbs-up-emoji-5b4945e4392c14.1565423115315286762342.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}